<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Pekan Budaya Indonesia</title>
   <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="./assets/fontawesome/css/fontawesome.min.css">
   <link rel="stylesheet" href="./assets/fontawesome/css/solid.min.css">
   <link rel="stylesheet" href="./assets/fontawesome/css/brands.min.css">
   <link rel="stylesheet" href="./assets/css/main.css">

</head>

<body>

   <div ng-include="" src="'./partial/header.html'"></div>

   <!-- jumbotron -->
   <div class="jumbotron jumbotron-fluid banner text-center text-light">
      <div class="container">
         <h1 class="display-4">Formulir Pendaftaran</h1>
         <p class="lead">Isi formulir berikut untuk berpartisipasi dalam Pekan Budaya Indonesia</p>
      </div>
   </div>
   <!-- end jumbotron -->
   <br>
   <!-- formulir -->
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="col-sm-6 bg-form">
            <form class="m-4 text-light">

               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label for="inputEmail4">Nama Depan</label>
                     <input type="text" class="form-control" id="namaDepan" placeholder="Nama Depan"
                        ng-model="firstname" required>
                  </div>

                  <div class="form-group col-md-6">
                     <label for="inputEmail4">Nama Belakang</label>
                     <input type="text" class="form-control" id="namaBelakang" placeholder="Nama Belakang"
                        ng-model="lastname" required>
                  </div>
               </div>

               <div class="form-group">
                  <label for="inputAddress">Alamat</label>
                  <textarea type="text" class="form-control" id="inputAddress" placeholder="Alamat" ng-model="alamat"
                     required></textarea>
               </div>

               <div class="form-group">
                  <label for="kompetisi">Kompetisi</label>
                  <select name="kompetisi" id="kompetisi" class="form-control" ng-model="data.kompetisi" required>
                     <option value="{{data.kompetisi1}}">pilih kompetisi...</option>
                     <option value="Kompetisi ">kompetisi</option>
                     <option value="Lomba Lagu Daerah">Lomba Lagu Daerah</option>
                  </select>
                  <br>
               </div>

               <div class="form-row">
                  <div class="form-group col-md-5">
                     <label for="inputCity">kabupaten/kota</label>
                     <input type="text" class="form-control" id="inputCity" ng-model="kab" required>
                  </div>
                  <div class="form-group col-md-5">
                     <label for="inputCity">provinsi</label>
                     <input type="text" class="form-control" id="inputPorvinsi" ng-model="provinsi" required>
                  </div>
                  <div class="form-group col-md-2">
                     <label for="inputZip">kode pos</label>
                     <input type="text" class="form-control" id="inputZip" ng-model="kdpos" required>
                  </div>
               </div>


               <div class="form-group">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="gridCheck">
                     <label class="form-check-label" for="gridCheck">
                        Check me out
                     </label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2">
                     <button type="submit" class="btn btn-info" id="btnSubmit">Daftar</button>
                  </div>

                  <div class="offset-1 col-sm-3">
                     <form action="?" method="POST">
                        <div class="g-recaptcha" data-sitekey="6LeUg6sUAAAAAJ45bc1SbivVgQ2KSHQ_TcczMr3H"></div>
                        <br />

                     </form>

                  </div>
                  <!-- Button trigger modal -->
                  <div class="offset-4  col-sm-2">
                     <button type="submit" class="btn btn-primary" id="btnPreview" data-toggle="modal"
                        data-target="#exampleModalCenter">Preview</button>
                  </div>
               </div>

            </form>
            <!-- end form panel -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h3>FORM PREVIEW</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div class="form-row">

                           <div class="form-group col-md-6">
                              <label for="inputEmail4">Nama Depan</label>
                              <h5 ng-bind="firstname"></h5>
                           </div>

                           <div class="form-group col-md-6">
                              <label for="inputEmail4">Nama Belakang</label>
                              <h5 ng-bind="lastname"></h5>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="inputAddress">Alamat</label>
                        </div>

                        <div class="form-group">
                           <label>Kompetisi</label>
                           <h5>{{data.kompetisi}}</h5> </tt>
                        </div>
                        <div class="form-row">
                           <div class="form-group col-md-5">
                              <label for="inputCity">kabupaten/kota</label>
                              <h5 ng-bind="kab"></h5>
                           </div>
                           <div class="form-group col-md-5">
                              <label for="inputCity">provinsi</label>
                              <h5 ng-bind="provinsi"></h5>
                           </div>
                           <div class="form-group col-md-2">
                              <label for="inputZip">kode pos</label>
                              <h5 ng-bind="kdpos"></h5>
                           </div>
                        </div>

                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>

   <!-- end formulir -->

   <!-- footer -->
   <div ng-include="" src="'./partial/footer.html'"></div>
   <!-- end footer -->


   <!-- javascript -->
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script src="./assets/js/jquery-3.4.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
   </script>
   <script src="./assets/js/angular.min.js"></script>
   <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="./assets/js/main.js"></script>
</body>

</html>