<br>
<!-- sosmed -->
<div class="row text-right">
    <div class="col-md-12 col-sm-12 bg-secondary" id="medsos-pnl">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-telegram"></i>
        <i class="fab fa-tumblr-square"></i>
        <i class="fab fa-youtube"></i>
        <i class=""></i>
    </div>
</div>
<!-- info footer -->
<div class="row bg-dark" id="footer-pnl">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card-body">
                <h3>Pekan Budaya Indonesia</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit placeat provident, quibusdam
                    ab
                    sit
                    in
                    perferendis eveniet numquam pariatur qui amet possimus odio repudiandae ea dolorum minima ipsum
                    inventore
                    mollitia?</p>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h3>Recent Post</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit placeat provident, quibusdam
                    ab
                    sit
                    in
                    perferendis eveniet numquam pariatur qui amet possimus odio repudiandae ea dolorum minima ipsum
                    inventore
                    mollitia?</p>

            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3>Search</h3>
                <form class="form-group" action="">
                    <input id="about" class="form-control" type="text" placeholder="search something">
                </form>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit placeat provident, quibusdam
                    ab
                    sit
                    in
                    perferendis eveniet numquam pariatur qui amet possimus odio repudiandae ea dolorum minima ipsum
                    inventore
                    mollitia?</p>

            </div>
        </div>
        <hr class="line">
    </div>
    <div class="row  mx-auto">
        <div class="col-md-12 col-sm-12 bg-dark">
            <i class="fas fa-copyright"></i> Copyright <a href="./index.html">Pekan Budaya Indronesia</a> |
            Developed
            by Kelompok17_FP

        </div>
    </div>
</div>